


<div class="row login-signup-form">
<div class="col-sm-12">
<h1>Signup!</h1>
<%= form_for :user, url: '/users' do |f| %>

 
  <div class="form-group">
  <h4>First Name</h4>
  <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
  <h4>Last Name</h4>
  <%= f.text_field :last_name %>
  </div>

  <div class="form-group">
  <h4>Email</h4>
  <%= f.text_field :email %>
  </div>

  <div class="form-group">
  <h4>Password</h4> 
  <%= f.password_field :password %>
  </div>
  
  <div class="form-group">
  <h4>Confirm Password</h4>
  <%= f.password_field :password_confirmation %>
  </div>
  
  <%= f.submit "Submit", class: 'btn btn-primary'%>

<% end %>
</div>
</div>